<!DOCTYPE html>
<html lang="en">

<head>
    {{>metatags}}
    <link rel="stylesheet" href="sass/about.css">
    <title>About- DelightFULL.com</title>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments) };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "ai9j44vr1q");
    </script>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h2></h2>
        <p>This is Templates Website By Rohit Parashar.</p>
        <p>We Provide Many Free BeaultiFULL Templates like:- Login Pages,Signup Pages,ContactUS pages,FULL Website
            Templates.</p>
        <p>You Can Download The Source code of templates & Websites for free & Use it.</p>
        <a href="/services">
            <button class="btn">Explore -></button>
        </a>
    </div>
</body>

</html>