<!DOCTYPE html>
<html lang="en">

<head>
    {{>metatags}}
    <link rel="stylesheet" href="sass/about.css">
    <title>About- DelightFULL.com</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h2></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos debitis reprehenderit officiis magni quod. Ducimus, reprehenderit obcaecati modi quam officiis corporis voluptate aspernatur fuga nesciunt.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate facilis delectus aut sint reiciendis ratione omnis voluptatibus magnam veniam, amet harum expedita officia non consequatur.</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, consequuntur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. </p>
        <a href="/services">
            <button class="btn">Explore -></button>
        </a>
    </div>
</body>

</html>