{{>servicesstart}}
<div class="boxes">
    <div class="box-1 box">
        <a href="/login1">
            <img src="/img/login1.png" alt="error">
        </a>
    </div>
    <div class="box-2 box">
        <a href="/login2">
            <img src="/img/login2.png" alt="error">
        </a>
    </div>
    <div class="box-3 box">
        <a href="/login3">
            <img src="/img/login3.png" alt="error">
        </a>
    </div>
    <div class="box-4 box"></div>
    <div class="box-5 box"></div>
    <div class="box-6 box"></div>
    <div class="box-7 box"></div>
    <div class="box-8 box"></div>
    <div class="box-9 box"></div>
    <div class="box-10 box"></div>
    <div class="box-11 box"></div>
    <div class="box-12 box"></div>
    <div class="box-13 box"></div>
    <div class="box-14 box"></div>
    <div class="box-15 box"></div>
</div>
{{>servicesend}}