<link rel="stylesheet" href="sass/boxes-nav.css">
<div class="boxes-nav">
    <ul>
        <li><a href="/services">Login Pages</a></li>
        <li><a href="/signup-services">Signup Pages</a></li>
        <li><a href="/contact-services">Contact Pages</a></li>
        <li><a href="/fullpage-services">Full Templates</a></li>
    </ul>
</div>