<link rel="stylesheet" href="sass/navbar.css">
<div class="navbar">
    <h2></h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Templates</a></li>
        <li><a href="/contact">Contact Us</a></li>
        {{!-- <li><a href="/starpatterns">Star Patterns</a></li> --}}
    </ul>
</div>