<!DOCTYPE html>
<html lang="en">

<head>
    {{>metatags}}
    <link rel="stylesheet" href="sass/services.css">
    <title>services</title>
</head>

<body>
    {{>navbar}}
    <div class="container">
        <h2>Here Is Templates!!</h2>
        {{>boxesnav}}