<!DOCTYPE html>
<html lang="en">

<head>
    {{>metatags}}
    <link rel="stylesheet" href="sass/imageshow.css">
    <title>Signup 1</title>
</head>

<body>
    <div class="container">
        <video controls>
            <source src="">
        </video>
        <h2>Here Is Souce Code!!</h2>
        <div class="box">
            <div class="html">
                
            </div>
            <div class="css">

            </div>
        </div>
    </div>
</body>

</html>