<!DOCTYPE html>
<html lang="en">

<head>
    {{>metatags}}
    <link rel="stylesheet" href="sass/imageshow.css">
    <title>login2</title>
</head>

<body>
    <div class="container">
        <video controls>
            <source src="/videos/loginpages/themify.mp4" type="video/mp4">
        </video>
        <h2>Here Is Code of this Template!</h2>
        <div class="box">
            <div class="html">
                <h2>HTML Code</h2>
                <pre>
                    <code>
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;link rel="preconnect" href="https://fonts.googleapis.com"&gt;
    &lt;link rel="preconnect" href="https://fonts.gstatic.com" crossorigin&gt;
    &lt;link href="https://fonts.googleapis.com/css2?family=Italianno&family=Shizuru&family=Special+Elite&family=Vujahday+Script&display=swap" rel="stylesheet"&gt;
    &lt;link rel="preconnect" href="https://fonts.googleapis.com"&gt;
    &lt;link rel="preconnect" href="https://fonts.gstatic.com" crossorigin&gt;
    &lt;link href="https://fonts.googleapis.com/css2?family=Italianno&family=Shizuru&family=Special+Elite&family=Spline+Sans:wght@700&family=Vujahday+Script&display=swap" rel="stylesheet"&gt;
    &lt;link rel="stylesheet" href="sass/index.css"&gt;
    &lt;title&gt;login3&lt;/title&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div class="container"&gt;
        &lt;div class="left"&gt;
            &lt;a href=""&gt;Create an Account?&lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="right"&gt;
            &lt;h1&gt;Themify&lt;/h1&gt;
            &lt;h2&gt;Sign up&lt;/h2&gt;
            &lt;div class="box"&gt;
                &lt;div class="input"&gt;
                    &lt;input type="text" placeholder="Username"&gt;
                &lt;/div&gt;
                &lt;div class="input"&gt;
                    &lt;input type="password" placeholder="Password"&gt;
                &lt;/div&gt;
                &lt;div class="checkbox"&gt;
                    &lt;input type="checkbox" name="" id=""&gt; Remember Me
                &lt;/div&gt;
                &lt;button class="btn"&gt;Log in&lt;/button&gt;
                &lt;div class="logo"&gt;
                    OR Login With:-
                    &lt;img src="/img/fb.png" alt=""&gt;
                    &lt;img src="/img/insta.svg" alt=""&gt;
                    &lt;img src="/img/twitter.png" alt=""&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;

&lt;/html&gt;
                    </code>
                </pre>
            </div>
            <div class="css">
                <h2>CSS Code</h2>
                <pre>
                    <code>
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  margin-top: 2%;
  width: 90%;
  height: 92vh;
  -webkit-box-shadow: 2px 20px 40px 10px grey;
          box-shadow: 2px 20px 40px 10px grey;
  border-radius: 20px;
  background: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: container;
          animation-name: container;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .left {
  width: 45%;
  background: url("../img/114.jpg") no-repeat center;
  background-size: cover;
  background-size: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation-name: image;
          animation-name: image;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.container .left a {
  margin-bottom: 10%;
  color: black;
}

.container .left a:hover {
  color: blue;
}

@-webkit-keyframes image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes image {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .right {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right h1 {
  font-family: 'Italianno', cursive;
  font-family: 'Shizuru', cursive;
  font-family: 'Special Elite', cursive;
  font-family: 'Vujahday Script', cursive;
  text-decoration: underline;
  font-size: 2.5rem;
  margin-top: 2%;
  -webkit-animation-name: h1;
          animation-name: h1;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes h1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container .right h2 {
  font-family: 'Spline Sans', sans-serif;
  position: relative;
  top: 70px;
  right: 100px;
  font-size: 2rem;
}

.container .right .box {
  margin-top: 15%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .right .box .input {
  margin: 2%;
}

.container .right .box .input input {
  font-size: 1.2rem;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid black;
}

.container .right .box .input input:focus {
  color: blue;
  scale: 1.1;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.container .right .box .checkbox {
  margin-top: 3%;
  position: relative;
  right: 80px;
}

.container .right .box .btn {
  font-size: 1.2rem;
  margin-top: 5%;
  padding: 4px 50px;
  position: relative;
  right: 80px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.568);
  color: white;
}

.container .right .box .btn:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 255, 0.774)), to(rgba(0, 0, 255, 0.445)));
  background: linear-gradient(to right, rgba(0, 0, 255, 0.774), rgba(0, 0, 255, 0.445));
  -webkit-box-shadow: 2px 2px 10px 2px grey;
          box-shadow: 2px 2px 10px 2px grey;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
}

.container .right .box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  margin-top: 5%;
}

.container .right .box .logo img {
  width: 50px;
  margin: 2%;
}

.container .right .box .logo img:hover {
  scale: 1.2;
  -webkit-transition-duration: .8s;
          transition-duration: .8s;
  cursor: pointer;
}
/*# sourceMappingURL=index.css.map */
                    </code>
                </pre>
            </div>
        </div>
    </div>
</body>

</html>